{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2><i class="bi bi-cash-stack"></i> Demande de Prêt</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.cotisation.label_tag }}
                    {{ form.cotisation }}
                    <small class="text-muted">Choisissez la cotisation associée</small>
                </div>
                <div class="mb-3">
                    {{ form.montant.label_tag }}
                    <div class="input-group">
                        <span class="input-group-text">FCFA</span>
                        {{ form.montant }}
                    </div>
                    <small class="text-muted">Montant maximum autorisé: 30 000 FCFA</small>
                    {% if form.montant.errors %}
                        <div class="alert alert-danger mt-2">
                            {{ form.montant.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.motif.label_tag }}
                    {{ form.motif }}
                </div>
                <div class="mb-3">
                    {{ form.periode_remboursement.label_tag }}
                    {{ form.periode_remboursement }}
                </div>
                <div class="mb-3">
                    {{ form.avaliseur.label_tag }}
                    {{ form.avaliseur }}
                    <small class="text-muted">Choisissez un membre comme avaliseur</small>
                </div>
                <div class="mb-3">
                    {{ form.infos_avaliseur.label_tag }}
                    {{ form.infos_avaliseur }}
                    <small class="text-muted">Renseignez les informations de l'avaliseur</small>
                </div>
                <div class="mb-3">
                    {{ form.fichier_avaliseur.label_tag }}
                    {{ form.fichier_avaliseur }}
                    <small class="text-muted">Joindre un fichier PDF avec les informations complètes de l'avaliseur</small>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-send-check"></i> Soumettre la demande
                </button>
                <a href="{% url 'application:liste_prets' %}" class="btn btn-secondary">consulter mes prets</a>
                <a href="{% url 'application:acceuil' %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> RETOUR
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock %}