{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Créer une cotisation</h2>
    
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            {{ form.nom_tontine.label_tag }}
            {{ form.nom_tontine }}
        </div>
        
        <div class="mb-3">
            {{ form.montant.label_tag }}
            {{ form.montant }}
        </div>
        
        <div class="mb-3">
            {{ form.frequence.label_tag }}
            {{ form.frequence }}
        </div>
        
        {% if membres_cotisant %}
        <div class="mb-3">
            <h5>Membres participants déjà à la tontine de {{ montant_tontine }}FCFA :</h5>
            <ul class="list-group">
                {% for membre in membres_cotisant %}
                <li class="list-group-item">{{ membre.username }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        <button type="submit" class="btn btn-primary">soumettre la Demande </button>
        <a href="{% url 'application:liste_cotisations' %}" class="btn btn-secondary">consulter mes cotisations</a>
        <a href="{% url 'acceuil' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}

