{% extends 'bas.html' %}

{% block content %}
<div class="container">
    <h1>Liste des membres</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Nom complet</th>
                <th>Email</th>
                <th>Date d'inscription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for membre in membres %}
            <tr>
                <td>{{ membre.username }}</td>
                <td>{{ membre.first_name }} {{ membre.last_name }}</td>
                <td>{{ membre.email }}</td>
                <td>{{ membre.date_joined|date:"d/m/Y" }}</td>
                <td>
                    <a href="{% url 'application:admin_supprimer_membre' membre.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="{% url 'application:admin_tontine_dashboard' %}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> EXIT
        </a>
    </div>
{% endblock %}